/* Debug: */
    /* * { border: 1px dotted grey; } */

/* Software types: */
    /* General .sw-type settings. */
    span.sw-type {
        display: inline-block;  /* Ensure fixed width for the span. */
        width: 30px; height: 30px;  /* Set span size. */
        background-size: 30px 30px;  /* Set background icon size. */
        margin-right: 10px;  /* Ensure space with the text following the icon. */
    }
    /* Select .sw-type URLs for each. */
    span.sw-type.pc { background-image: url('../images/laptop_realistic_2_256.png'); }
    span.sw-type.web { background-image: url('../images/file-7084006_256.png'); }
    span.sw-type.mobile { background-image: url('../images/smartphone-157082_256.png'); }
    span.sw-type.embedded { background-image: url('../images/pexels-craigmdennis-57007_256.png'); }

/* Tip: */
    div.tip {
        min-height: 30px;  /* Ensure min height consistent with the icon height. */
        /* Display the icon in the background on the left of the div. */
        background-image: url('../images/SL-021622-48580-22_256.png');
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: top 10px left 0px;
        padding-left: 40px;  /* Shift the text on the right, so that it does not overlap with the image. */
        padding-top: 10px;  /* Shift the text a bit down, so that it fits with the icon. */
        margin-bottom: 20px;  /* Ensure space after the div. */
    }

/* Practice: */
    div.practice {
        min-height: 30px;  /* Ensure min height consistent with the icon height. */
        /* Display the icon in the background on the left of the div. */
        background-image: url('../images/work-98936_256.png');
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: top 10px left 0px;
        padding-left: 40px;  /* Shift the text on the right, so that it does not overlap with the image. */
        padding-top: 10px;  /* Shift the text a bit down, so that it fits with the icon. */
        margin-bottom: 20px;  /* Ensure space after the div. */
    }

/* Images: */
    /* Note: Inspired from https://stackoverflow.com/questions/14675913/changing-image-size-in-markdown#14747656. */
